.main {
  display: flex;
  flex-direction: row;
  background-color: #0D1A22;
  color: white;
}

.colonne {
  width: 20%;
}

.colonnecentre {
  width: 60%;
  border-right: 1px solid dimgray;
  border-left: 1px solid dimgray;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}